dev/pug/components/nm-layout.pug
doctype html
html(lang=it)
	head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name="author" content="Netmilk Studio")
			link(rel="prefetch" href="https://use.typekit.net/inm8ovn.js")
			link(rel="preconnect" href="https://use.typekit.net" crossorigin)
			link(rel='apple-touch-icon-precomposed', sizes='57x57', href='ico/apple-touch-icon-57x57.png')
			link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114x114.png')
			link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72x72.png')
			link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144x144.png')
			link(rel='apple-touch-icon-precomposed', sizes='60x60', href='ico/apple-touch-icon-60x60.png')
			link(rel='apple-touch-icon-precomposed', sizes='120x120', href='ico/apple-touch-icon-120x120.png')
			link(rel='apple-touch-icon-precomposed', sizes='76x76', href='ico/apple-touch-icon-76x76.png')
			link(rel='apple-touch-icon-precomposed', sizes='152x152', href='ico/apple-touch-icon-152x152.png')
			link(rel='icon', type='image/png', href='ico/favicon-196x196.png', sizes='196x196')
			link(rel='icon', type='image/png', href='ico/favicon-96x96.png', sizes='96x96')
			link(rel='icon', type='image/png', href='ico/favicon-32x32.png', sizes='32x32')
			link(rel='icon', type='image/png', href='ico/favicon-16x16.png', sizes='16x16')
			link(rel='icon', type='image/png', href='ico/favicon-128.png', sizes='128x128')
			meta(property='og:type', content='business.business')
			meta(property='og:title', content='Netmilk Studio - Web Design Ticino')
			meta(property='og:url', content='Netmilk.ch')
			meta(property='og:image', content='http://netmilk.ch/img/netmilk-logo-on-white.jpg')
			meta(property='business:contact_data:street_address', content='Via Cantonale 1212')
			meta(property='business:contact_data:locality', content='Fornasette di Monteggio')
			meta(property='business:contact_data:region', content='Ticino')
			meta(property='business:contact_data:postal_code', content='6996')
			meta(property='business:contact_data:country_name', content='Switzerland')
			meta(name='application-name', content='Netmilk Studio')
			meta(name='msapplication-TileColor', content='#FFFFFF')
			meta(name='msapplication-TileImage', content='ico/mstile-144x144.png')
			meta(name='msapplication-square70x70logo', content='ico/mstile-70x70.png')
			meta(name='msapplication-square150x150logo', content='ico/mstile-150x150.png')
			meta(name='msapplication-wide310x150logo', content='ico/mstile-310x150.png')
			meta(name='msapplication-square310x310logo', content='ico/mstile-310x310.png')

		block style
			link(href='css/netmilk.min.css', rel='stylesheet')

		block scripts-header
		script(src='https://use.typekit.net/inm8ovn.js')
		script.
			try{Typekit.load({ async: true });}catch(e){}
		script.
			window['_fs_debug'] = false;
			window['_fs_host'] = 'www.fullstory.com';
			window['_fs_org'] = '2VDEY';
			window['_fs_namespace'] = 'FS';
			(function(m,n,e,t,l,o,g,y){
			if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
			g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
			o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
			y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
			g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
			g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
			g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
			d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
			';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
			})(window,document,window['_fs_namespace'],'script','user');

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-1979728-56', 'auto');ga('send', 'pageview');




		block title
			- var defaultTitle = "Netmilk Studio"
			- var customTitle = "Web Design"

		block ie
			//if lt IE 9
				p
					| You are using an
					strong outdated browser. Please
					a(href='http://browsehappy.com/') upgrade your browser to improve your experience.

	body
		main
			include nm-nav
			block content
			.loading-icon.stoentrando
				.tazza
					svg.go(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 326 223.9', style='enable-background:new 0 0 326 223.9;', xml:space='preserve')
						style(type='text/css').
							.st0{display:none;}
							.st1{display:inline;}
							.st2{clip-path:url(#SVGID_2_);fill:#0077b9;}
							.st3{clip-path:url(#SVGID_2_);fill:#0091e2;}
							.st4{clip-path:url(#SVGID_2_);fill:none;stroke:#0091e2;stroke-width:2.145;}
							.st5{clip-path:url(#SVGID_2_);fill:#FFFCEA;}
							.st6{fill:#BEC3A7;}
							.st7{fill:#0077b9;}
							.st8{fill:#0091e2;}
							.st9{fill:#FFFCEA;}
						g#Livello_1.st0
							g.st1
								defs
									rect#SVGID_1_(width='326', height='223.9')
								clippath#SVGID_2_
									use(xlink:href='#SVGID_1_', style='overflow:visible;')
								path.st2(d='M122.4,181.4c-88.9,0-118.2-58.7-118.2-91.8c0-25.6,17.9-45,39.6-45h36.4l4.9,33.1c0,0-11.3-4.7-27.8-4.7				C40.7,73,32,80.5,32,95.7c0,19.7,1.7,53.6,69.8,53.6L122.4,181.4z')
								path.st3(d='M33.5,113c6.9,24.8,28.7,36.3,68.3,36.3l8.5,13.2C110.3,162.6,38.4,165.3,33.5,113')
								path.st2(d='M69.2,58c0,0-6,77.3,51.9,136.5c0,0,20.6,26.4,73.8,26.4c53.2,0,76-28,76-28C328.7,133.7,320.5,58,320.5,58				c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58')
								path.st3(d='M320.5,58c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C297.1,171.5,323.1,111.9,320.5,58 M88.7,57.4				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C136.3,104.6,88.7,83.5,88.7,57.4')
								path.st4(d='M320.5,58c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C297.1,171.5,323.1,111.9,320.5,58z M88.7,57.4				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C136.3,104.6,88.7,83.5,88.7,57.4z')
								path.st5(d='M293,69.8c0,17.8-43.6,34.7-97.9,34.7c-54.4,0-98.9-16.9-98.9-34.7c0-17.8,44.1-32.2,98.4-32.2				C248.9,37.6,293,52,293,69.8')
								path.st3(d='M6.2,75.5c5.2-18.2,20.2-30.8,37.6-30.8h36.4l-4.5,15.4C75.6,60.1,12.3,54.3,6.2,75.5')
							g.st1
								path.st6(d='M134.1,60c0,0.3,0.1,0.7,0.4,1c0.9,1,3,1.4,4.7,0.9c16.1-5.5,34.4-8.4,52.9-8.4c20.4,0,40.4,3.5,57.8,10.2				c1.6,0.6,3.8,0.3,4.8-0.7c1-1,0.5-2.4-1.2-3c-18.5-7.1-39.7-10.8-61.4-10.8c-19.6,0-39,3.1-56.2,8.9				C134.7,58.5,134.1,59.2,134.1,60')
								path.st6(d='M152.5,73.3c0,0.3,0.2,0.7,0.4,1c0.9,1.1,3,1.4,4.7,0.9c11.3-3.8,24.1-5.9,37-5.9c12.9,0,25.7,2,37,5.9				c1.7,0.6,3.7,0.2,4.7-0.9c0.9-1.1,0.3-2.4-1.4-2.9c-12.3-4.2-26.2-6.4-40.3-6.4c-14,0-28,2.2-40.3,6.4				C153.2,71.8,152.5,72.5,152.5,73.3')
								path.st6(d='M166.8,85.4c0,0.3,0.1,0.6,0.3,0.9c0.8,1.1,2.9,1.5,4.6,1c7-2.1,14.6-3.2,22.4-3.2c8.2,0,16,1.1,23.2,3.4				c1.7,0.5,3.7,0.1,4.6-1c0.8-1.1,0.1-2.4-1.6-2.9c-8.2-2.6-17-3.9-26.3-3.9c-8.8,0-17.4,1.2-25.4,3.6				C167.6,83.8,166.8,84.6,166.8,85.4')
						g#Livello_2
							g
								path.st7(d='M122,181.7C33,181.7,3.8,123,3.8,89.9c0-25.6,17.9-45,39.6-45h36.4L84.6,78c0,0-11.3-4.7-27.8-4.7				c-16.5,0-25.2,7.4-25.2,22.7c0,19.7,1.7,53.6,69.8,53.6L122,181.7z')
								path.st8(d='M33,113.3c6.9,24.8,28.7,36.3,68.3,36.3l8.5,13.2C109.8,162.8,37.9,165.5,33,113.3')
								path.st7(d='M68.5,58.2c0,0-6,77.3,51.9,136.5c0,0,20.6,26.4,73.8,26.4c53.2,0,76-28,76-28C328,134,319.8,58.2,319.8,58.2				c0-29.8-56.3-53.9-125.7-53.9C124.8,4.3,68.5,28.5,68.5,58.2')
								path.st9(d='M300.2,81.2c0,25.2-46.9,49.2-105.4,49.2c-30.3,0-57.8-6.4-77.3-16.2c-8.6-4.3-8.4-20.9-8.4-20.9				s-20.7-5.7-20.7-12.1c0-25.2,47.4-45.6,105.9-45.6C252.8,35.6,300.2,56,300.2,81.2')
								path.st8(d='M5.7,75.7C10.9,57.5,26,44.9,43.3,44.9h36.4l-4.5,15.4C75.2,60.3,11.9,54.5,5.7,75.7')
								g
									path.st6(d='M133.8,61.9c0,0.4,0.1,0.9,0.4,1.3c0.9,1.3,3,1.8,4.7,1.1c16.1-7,34.4-10.7,52.9-10.7					c20.4,0,40.4,4.5,57.8,13c1.6,0.8,3.8,0.4,4.8-0.9c1-1.3,0.5-3-1.2-3.8c-18.5-9-39.7-13.8-61.4-13.8c-19.6,0-39,3.9-56.2,11.4					C134.4,60,133.8,60.9,133.8,61.9')
									path.st6(d='M151.2,76.8c0,0.4,0.2,0.9,0.4,1.3c0.9,1.3,3,1.8,4.7,1.1c11.3-4.9,24.1-7.5,37-7.5c12.9,0,25.7,2.6,37,7.5					c1.7,0.7,3.7,0.2,4.7-1.1c0.9-1.3,0.3-3-1.4-3.7c-12.3-5.3-26.2-8.2-40.3-8.2c-14,0-28,2.8-40.3,8.2					C151.8,74.9,151.2,75.8,151.2,76.8')
									path.st6(d='M166.5,90.2c0,0.4,0.1,0.8,0.3,1.2c0.8,1.4,2.9,2,4.6,1.3c7-2.7,14.6-4,22.4-4c8.2,0,16,1.4,23.2,4.3					c1.7,0.7,3.7,0.1,4.6-1.2c0.8-1.4,0.1-3-1.6-3.7c-8.2-3.3-17-4.9-26.3-4.9c-8.8,0-17.4,1.5-25.4,4.6					C167.2,88.2,166.5,89.1,166.5,90.2')
								path.st8(d='M320.1,58.2c0-29.8-56.3-53.9-125.7-53.9C125,4.3,68.8,28.5,68.8,58.2c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C296.7,171.7,322.6,112.1,320.1,58.2 M88.3,57.7				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C135.9,104.8,88.3,83.7,88.3,57.7')
					.ombra.go
			.bowl.coperto
				.inner
					.fill
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='200%', height='100%', viewbox='0 0 300 300', enable-background='new 0 0 300 300', xml:space='preserve')
							path.waveShape(d='M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4\
							c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9\
							c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z')

		block scripts-footer
			script(type='text/javascript', src='js/netmilk.min.js')

			script(type='text/javascript').
				window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
				d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
				_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
				$.src="https://v2.zopim.com/?4hNDMNAAHNftgdheROUc7f1M8MLzVA5v";z.t=+new Date;$.
				type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

components/nm-layout.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="author" content="Netmilk Studio"><link rel="prefetch" href="https://use.typekit.net/inm8ovn.js"><link rel="preconnect" href="https://use.typekit.net" crossorigin><link rel="apple-touch-icon-precomposed" sizes="57x57" href="ico/apple-touch-icon-57x57.png"><link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114.png"><link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72.png"><link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144.png"><link rel="apple-touch-icon-precomposed" sizes="60x60" href="ico/apple-touch-icon-60x60.png"><link rel="apple-touch-icon-precomposed" sizes="120x120" href="ico/apple-touch-icon-120x120.png"><link rel="apple-touch-icon-precomposed" sizes="76x76" href="ico/apple-touch-icon-76x76.png"><link rel="apple-touch-icon-precomposed" sizes="152x152" href="ico/apple-touch-icon-152x152.png"><link rel="icon" type="image/png" href="ico/favicon-196x196.png" sizes="196x196"><link rel="icon" type="image/png" href="ico/favicon-96x96.png" sizes="96x96"><link rel="icon" type="image/png" href="ico/favicon-32x32.png" sizes="32x32"><link rel="icon" type="image/png" href="ico/favicon-16x16.png" sizes="16x16"><link rel="icon" type="image/png" href="ico/favicon-128.png" sizes="128x128"><meta property="og:type" content="business.business"><meta property="og:title" content="Netmilk Studio - Web Design Ticino"><meta property="og:url" content="Netmilk.ch"><meta property="og:image" content="http://netmilk.ch/img/netmilk-logo-on-white.jpg"><meta property="business:contact_data:street_address" content="Via Cantonale 1212"><meta property="business:contact_data:locality" content="Fornasette di Monteggio"><meta property="business:contact_data:region" content="Ticino"><meta property="business:contact_data:postal_code" content="6996"><meta property="business:contact_data:country_name" content="Switzerland"><meta name="application-name" content="Netmilk Studio"><meta name="msapplication-TileColor" content="#FFFFFF"><meta name="msapplication-TileImage" content="ico/mstile-144x144.png"><meta name="msapplication-square70x70logo" content="ico/mstile-70x70.png"><meta name="msapplication-square150x150logo" content="ico/mstile-150x150.png"><meta name="msapplication-wide310x150logo" content="ico/mstile-310x150.png"><meta name="msapplication-square310x310logo" content="ico/mstile-310x310.png"><link href="css/netmilk.min.css" rel="stylesheet"><script src="https://use.typekit.net/inm8ovn.js"></script><script>try{Typekit.load({ async: true });}catch(e){}</script><script>window['_fs_debug'] = false;
window['_fs_host'] = 'www.fullstory.com';
window['_fs_org'] = '2VDEY';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');</script><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-1979728-56', 'auto');ga('send', 'pageview');</script><!--if lt IE 9p
	| You are using an
	strong outdated browser. Please
	a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
--></head><body><main><header class="closed"><div class="transition-bar-wrapper"><div class="animated-bar anim"></div></div><div class="header-contents"><div class="logo-wrapper"><a href="index.html"><span class="icon-logo"><img src="img/netmilk_logo_blue.svg" alt="netmilk logo"></span></a></div><div class="hamburger"><div class="hamburger-inner"><div class="line one"></div><div class="line two"></div><div class="line three"></div></div></div></div><div class="animated fullscreen bounceOutUp" id="menuModal"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title text-center"><span class="sr-only">main navigation</span></h4></div><div class="modal-body text-center"><ul class="list-unstyled"><li><a href="index.html">Home</a></li><li><a href="netmilk-studio.html">Netmilk Studio</a></li><li><a href="case-studies.html">Case Studies</a></li></ul></div></div></div></div></header><div class="loading-icon stoentrando"><div class="tazza"><svg class="go" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 326 223.9" style="enable-background:new 0 0 326 223.9;" xml:space="preserve"><style type="text/css">.st0{display:none;}
.st1{display:inline;}
.st2{clip-path:url(#SVGID_2_);fill:#0077b9;}
.st3{clip-path:url(#SVGID_2_);fill:#0091e2;}
.st4{clip-path:url(#SVGID_2_);fill:none;stroke:#0091e2;stroke-width:2.145;}
.st5{clip-path:url(#SVGID_2_);fill:#FFFCEA;}
.st6{fill:#BEC3A7;}
.st7{fill:#0077b9;}
.st8{fill:#0091e2;}
.st9{fill:#FFFCEA;}</style><g class="st0" id="Livello_1"><g class="st1"><defs><rect id="SVGID_1_" width="326" height="223.9"></rect></defs><clippath id="SVGID_2_"><use xlink:href="#SVGID_1_" style="overflow:visible;"></use></clippath><path class="st2" d="M122.4,181.4c-88.9,0-118.2-58.7-118.2-91.8c0-25.6,17.9-45,39.6-45h36.4l4.9,33.1c0,0-11.3-4.7-27.8-4.7				C40.7,73,32,80.5,32,95.7c0,19.7,1.7,53.6,69.8,53.6L122.4,181.4z"></path><path class="st3" d="M33.5,113c6.9,24.8,28.7,36.3,68.3,36.3l8.5,13.2C110.3,162.6,38.4,165.3,33.5,113"></path><path class="st2" d="M69.2,58c0,0-6,77.3,51.9,136.5c0,0,20.6,26.4,73.8,26.4c53.2,0,76-28,76-28C328.7,133.7,320.5,58,320.5,58				c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58"></path><path class="st3" d="M320.5,58c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C297.1,171.5,323.1,111.9,320.5,58 M88.7,57.4				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C136.3,104.6,88.7,83.5,88.7,57.4"></path><path class="st4" d="M320.5,58c0-29.8-56.3-53.9-125.7-53.9C125.5,4.1,69.2,28.2,69.2,58c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C297.1,171.5,323.1,111.9,320.5,58z M88.7,57.4				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C136.3,104.6,88.7,83.5,88.7,57.4z"></path><path class="st5" d="M293,69.8c0,17.8-43.6,34.7-97.9,34.7c-54.4,0-98.9-16.9-98.9-34.7c0-17.8,44.1-32.2,98.4-32.2				C248.9,37.6,293,52,293,69.8"></path><path class="st3" d="M6.2,75.5c5.2-18.2,20.2-30.8,37.6-30.8h36.4l-4.5,15.4C75.6,60.1,12.3,54.3,6.2,75.5"></path></g><g class="st1"><path class="st6" d="M134.1,60c0,0.3,0.1,0.7,0.4,1c0.9,1,3,1.4,4.7,0.9c16.1-5.5,34.4-8.4,52.9-8.4c20.4,0,40.4,3.5,57.8,10.2				c1.6,0.6,3.8,0.3,4.8-0.7c1-1,0.5-2.4-1.2-3c-18.5-7.1-39.7-10.8-61.4-10.8c-19.6,0-39,3.1-56.2,8.9				C134.7,58.5,134.1,59.2,134.1,60"></path><path class="st6" d="M152.5,73.3c0,0.3,0.2,0.7,0.4,1c0.9,1.1,3,1.4,4.7,0.9c11.3-3.8,24.1-5.9,37-5.9c12.9,0,25.7,2,37,5.9				c1.7,0.6,3.7,0.2,4.7-0.9c0.9-1.1,0.3-2.4-1.4-2.9c-12.3-4.2-26.2-6.4-40.3-6.4c-14,0-28,2.2-40.3,6.4				C153.2,71.8,152.5,72.5,152.5,73.3"></path><path class="st6" d="M166.8,85.4c0,0.3,0.1,0.6,0.3,0.9c0.8,1.1,2.9,1.5,4.6,1c7-2.1,14.6-3.2,22.4-3.2c8.2,0,16,1.1,23.2,3.4				c1.7,0.5,3.7,0.1,4.6-1c0.8-1.1,0.1-2.4-1.6-2.9c-8.2-2.6-17-3.9-26.3-3.9c-8.8,0-17.4,1.2-25.4,3.6				C167.6,83.8,166.8,84.6,166.8,85.4"></path></g></g><g id="Livello_2"><g><path class="st7" d="M122,181.7C33,181.7,3.8,123,3.8,89.9c0-25.6,17.9-45,39.6-45h36.4L84.6,78c0,0-11.3-4.7-27.8-4.7				c-16.5,0-25.2,7.4-25.2,22.7c0,19.7,1.7,53.6,69.8,53.6L122,181.7z"></path><path class="st8" d="M33,113.3c6.9,24.8,28.7,36.3,68.3,36.3l8.5,13.2C109.8,162.8,37.9,165.5,33,113.3"></path><path class="st7" d="M68.5,58.2c0,0-6,77.3,51.9,136.5c0,0,20.6,26.4,73.8,26.4c53.2,0,76-28,76-28C328,134,319.8,58.2,319.8,58.2				c0-29.8-56.3-53.9-125.7-53.9C124.8,4.3,68.5,28.5,68.5,58.2"></path><path class="st9" d="M300.2,81.2c0,25.2-46.9,49.2-105.4,49.2c-30.3,0-57.8-6.4-77.3-16.2c-8.6-4.3-8.4-20.9-8.4-20.9				s-20.7-5.7-20.7-12.1c0-25.2,47.4-45.6,105.9-45.6C252.8,35.6,300.2,56,300.2,81.2"></path><path class="st8" d="M5.7,75.7C10.9,57.5,26,44.9,43.3,44.9h36.4l-4.5,15.4C75.2,60.3,11.9,54.5,5.7,75.7"></path><g><path class="st6" d="M133.8,61.9c0,0.4,0.1,0.9,0.4,1.3c0.9,1.3,3,1.8,4.7,1.1c16.1-7,34.4-10.7,52.9-10.7					c20.4,0,40.4,4.5,57.8,13c1.6,0.8,3.8,0.4,4.8-0.9c1-1.3,0.5-3-1.2-3.8c-18.5-9-39.7-13.8-61.4-13.8c-19.6,0-39,3.9-56.2,11.4					C134.4,60,133.8,60.9,133.8,61.9"></path><path class="st6" d="M151.2,76.8c0,0.4,0.2,0.9,0.4,1.3c0.9,1.3,3,1.8,4.7,1.1c11.3-4.9,24.1-7.5,37-7.5c12.9,0,25.7,2.6,37,7.5					c1.7,0.7,3.7,0.2,4.7-1.1c0.9-1.3,0.3-3-1.4-3.7c-12.3-5.3-26.2-8.2-40.3-8.2c-14,0-28,2.8-40.3,8.2					C151.8,74.9,151.2,75.8,151.2,76.8"></path><path class="st6" d="M166.5,90.2c0,0.4,0.1,0.8,0.3,1.2c0.8,1.4,2.9,2,4.6,1.3c7-2.7,14.6-4,22.4-4c8.2,0,16,1.4,23.2,4.3					c1.7,0.7,3.7,0.1,4.6-1.2c0.8-1.4,0.1-3-1.6-3.7c-8.2-3.3-17-4.9-26.3-4.9c-8.8,0-17.4,1.5-25.4,4.6					C167.2,88.2,166.5,89.1,166.5,90.2"></path></g><path class="st8" d="M320.1,58.2c0-29.8-56.3-53.9-125.7-53.9C125,4.3,68.8,28.5,68.8,58.2c0,14.8,13.9,28.2,36.3,37.9				c0,0-0.1,0-0.1,0c2.5,12.3,12.8,53.8,29.7,85.5c17.5,32.8,86.6,42.6,134.7,9.1C296.7,171.7,322.6,112.1,320.1,58.2 M88.3,57.7				c0-26.1,47.6-47.2,106.3-47.2c58.7,0,106.3,21.1,106.3,47.2c0,26-47.6,47.2-106.3,47.2C135.9,104.8,88.3,83.7,88.3,57.7"></path></g></g></svg><div class="ombra go"></div></div></div><div class="bowl coperto"><div class="inner"><div class="fill"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200%" height="100%" viewbox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve"><path class="waveShape" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4							c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9							c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z"></path></svg></div></div></div></main><script type="text/javascript" src="js/netmilk.min.js"></script><script type="text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4hNDMNAAHNftgdheROUc7f1M8MLzVA5v";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");</script></body></html>
