components/nm-nav.html
<header class="closed"><div class="transition-bar-wrapper"><div class="animated-bar anim"></div></div><div class="header-contents"><div class="logo-wrapper"><a href="index.html"><span class="icon-logo"><img src="img/netmilk_logo_blue.svg" alt="netmilk logo"></span></a></div><div class="hamburger"><div class="hamburger-inner"><div class="line one"></div><div class="line two"></div><div class="line three"></div></div></div></div><div class="animated fullscreen bounceOutUp" id="menuModal"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title text-center"><span class="sr-only">main navigation</span></h4></div><div class="modal-body text-center"><ul class="list-unstyled"><li><a href="index.html">Home</a></li><li><a href="netmilk-studio.html">Netmilk Studio</a></li><li><a href="case-studies.html">Case Studies</a></li></ul></div></div></div></div></header>

dev/pug/components/nm-nav.pug
header.closed

	.transition-bar-wrapper
		.animated-bar.anim

	.header-contents
		.logo-wrapper
			a(href='index.html')
				span.icon-logo
					img(src='img/netmilk_logo_blue.svg', alt='netmilk logo')
		.hamburger
			.hamburger-inner
				.line.one
				.line.two
				.line.three



	#menuModal.animated.fullscreen.bounceOutUp
		.modal-dialog
			.modal-content
				.modal-header
					//-	button.chiudi.btn.btn-link.animated(type='button')
					//-		img(src="img/close.svg", alt="")
					h4.modal-title.text-center
						span.sr-only main navigation
				.modal-body.text-center
					ul.list-unstyled
						li
							a(href="index.html") Home
						li
							a(href="netmilk-studio.html") Netmilk Studio
						li
							a(href='case-studies.html') Case Studies
